.row
  - @paintings.each_with_index do |painting, index|
    - if index != 0 && (index%4).zero?
      </div><div class="row">
    .col-sm-3.col-xs-6.spacer-top-30
      = link_to painting.image.url, class: "overlay-link", data: { image: painting.image.url } do
        = image_tag painting.image.thumbnail, class: "img-responsive center-block"
