.container-fluid
  .row
    .col-md-8.col-md-offset-2
      .row
        .col-xs-4
          .row
            .col-md-6.col-md-offset-3.text-center
              = image_tag "about.jpg", class: "img-circle img-responsive"
        .col-xs-8
          .text-center
            %em Art enables us to find ourselves and lose ourselves at the same time.
            %p - Thomas Merton
          .spacer-10
          %p I'm Hannah E. B. Eberly. This will be replaced by a bio about myself. Or maybe quotes or favorite peices of art?
          %p Hopefully will have more content so it's a full page.
          %p What do you think of putting the about section here? Or the contact section?
          %p Can you write up some info about yourself?
          %p
            Here's a link to another website I did with some info on the home page:
            = link_to "Maria Lytle's website", "http://www.marialytle.com/"
