- if action_name == "home"
  .header-container(data-image="#{image_path "header.jpg"}")
    .header-text
      %h1 Art by Hannah Eberly
      = link_to "", "#", class: "fa fa-chevron-down fa-2x btn btn-blue"
